.roadmap
{
/*	background-image: url("../asset/roadmap.png");
*/	/*height: 500px;
	background-repeat: no-repeat;
	margin-top: -1px;
	background-size: cover;
	background-position: center;*/


}
.map  {
    
    margin: 20;
    position: relative;
    font-size: 30px;
    font-weight: ;
    padding: 20px 10px 10px 0px;
    font-family: 'Fahkwang', sans-serif;

}

