#team h1
{
font-family: 'Fahkwang', sans-serif;
	font-size:40px;
	padding: 20px 20px 20px 20px;
	text-shadow: 2px 2px gray;

}
.fontWeight {
    font-weight: ;
    color: #fff;
    font-size: 12px;
    text-align: ;
    text-shadow: 1px 1px black;
}


.imageBg img {
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 133px;
    width: 200px;
    height: 240px;
  }

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.imageBg:hover .image {
  opacity: 0.3;
}


